@*@BaseCode*@
@*This partial view can alternatively be used with the shared index view.*@
@*#if ACCOUNT_ON*@
@{
    @using SmartNQuick.AspMvc.Modules.Language
    @using SmartNQuick.AspMvc.Modules.Session
    @using SmartNQuick.AspMvc.Modules.View
    @model SmartNQuick.AspMvc.Models.Business.Account.IdentityUser

    var viewBagWrapper = new ViewBagWrapper(ViewBag);
    var sessionWrapper = new SessionWrapper(Context.Session);

    viewBagWrapper.Translate = Translator.TranslateIt;
    viewBagWrapper.Controller = ViewContext.RouteData.Values["controller"].ToString();
    viewBagWrapper.Action = ViewContext.RouteData.Values["action"].ToString();

    Model.ViewBagInfo = viewBagWrapper;

    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.OneItem.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.OneItem.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.AnotherItem.Lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.AnotherItem.Firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.OneItem.EnableJwtAuth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.OneItem.AccessFailedCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.OneItem.State)
        </td>
        <td>
            @await Html.PartialAsync("_CommandControl", Model)
        </td>
    </tr>
}
@*#endif*@
