@*@BaseCode*@
@*#if ACCOUNT_ON*@
@{
    @using Microsoft.AspNetCore.Mvc.Rendering
    @using SmartNQuick.AspMvc.Modules.Session
    @using SmartNQuick.AspMvc.Modules.Handler
    @using SmartNQuick.AspMvc.Modules.Language
    @using SmartNQuick.AspMvc.Models.Modules.View
    @using SmartNQuick.AspMvc.Modules.View
    @model SmartNQuick.AspMvc.Models.Business.Account.AppAccess

    var viewBagWrapper = new ViewBagWrapper(ViewBag);
    var sessionWrapper = new SessionWrapper(Context.Session);

    viewBagWrapper.Translate = Translator.TranslateIt;
    viewBagWrapper.Controller = ViewContext.RouteData.Values["controller"].ToString();
    viewBagWrapper.Action = ViewContext.RouteData.Values["action"].ToString();
    viewBagWrapper.ViewType = Model?.GetType();

    Model.ViewBagInfo = viewBagWrapper;
    Model.OneModel.ViewBagInfo = viewBagWrapper;
    ViewData["Title"] = viewBagWrapper.Title;
    <h1>@ViewData["Title"]</h1>

    <div class="d-flex bg-transparent">
        <div class="p-sm-2 mr-auto">
            <h4>@viewBagWrapper.TranslateFor("Edit")</h4>
        </div>
    </div>
    <hr />

    @if (string.IsNullOrEmpty(ErrorHandler.LastViewError) == false)
    {
        <div class="alert alert-danger" role="alert">
            @ErrorHandler.GetLastViewErrorAndClear()
        </div>
    }

    <form asp-action="EditRoles" method="post">
        <input asp-for="Id" type="hidden" />
        <input asp-for="RowVersion" type="hidden" />

        <div style="margin-top: 1em;">
            @await Html.PartialAsync("_DisplayModel", Model.OneItem)
        </div>
        <div class="d-flex bg-transparent">
            <div class="mr-auto p-sm-2">
                <a asp-controller="IdentityUsers" asp-action="Edit" asp-route-id="@Model.OneItem.Id" class="btn btn-outline-secondary">@viewBagWrapper.TranslateFor("Edit")</a>
            </div>
        </div>

        <div style="margin-top: 1em;">
            <h4>Rolen</h4>
            @await Html.PartialAsync("_RoleListEdit", Model.ManyItems)
        </div>
        <hr />
        @await Html.PartialAsync("_SubmitBack", new SubmitBackCmd() { SubmitText = viewBagWrapper.TranslateFor("Save"), BackText = viewBagWrapper.TranslateFor("Back to List") })
    </form>
}
@*#endif*@

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_EditScriptsPartial");
    }
}
