@*@BaseCode*@
@*#if ACCOUNT_ON*@
@{
    @using Microsoft.AspNetCore.Mvc.Rendering
    @using SmartNQuick.AspMvc.Models.Modules.View
    @using SmartNQuick.AspMvc.Modules.Handler
    @using SmartNQuick.AspMvc.Modules.Language
    @using SmartNQuick.AspMvc.Modules.Session
    @using SmartNQuick.AspMvc.Modules.View
    @model IndexViewModel

    var viewBagInfo = Model?.ViewBagInfo;
    var sessionInfo = new SessionWrapper(Context.Session);

    if (viewBagInfo == null)
    {
        viewBagInfo = new ViewBagWrapper(ViewBag);
    }

    viewBagInfo.Translate = Translator.TranslateIt;
    viewBagInfo.Controller = ViewContext.RouteData.Values["controller"].ToString();
    viewBagInfo.Action = ViewContext.RouteData.Values["action"].ToString();

    ViewData["Title"] = viewBagInfo.Title;
    <h1>@viewBagInfo.Title</h1>

    @if (sessionInfo.IsAuthenticated && sessionInfo.HasRole("SysAdmin", "AppAdmin"))
    {
        <div class="d-flex bg-transparent">
            <div class="mr-auto p-sm-2">
                <a asp-action="Create" class="btn btn-outline-secondary">@viewBagInfo.TranslateFor("Create new...")</a>
            </div>
            <div class="p-sm-2">
                <a asp-action="Export" class="btn btn-outline-secondary">@viewBagInfo.TranslateFor("Export")</a>
            </div>
            <div class="p-sm-2">
                <a asp-action="Import" class="btn btn-outline-primary">@viewBagInfo.TranslateFor("Import")</a>
            </div>
        </div>
    }
    @if (string.IsNullOrEmpty(ErrorHandler.LastViewError) == false)
    {
        <div class="alert alert-danger" role="alert">
            @ErrorHandler.GetLastViewErrorAndClear()
        </div>
        @await Html.PartialAsync("_PagerControl", Model)
    }
    else
    {
        viewBagInfo.IgnoreNames.Add("Guid");
        viewBagInfo.IgnoreNames.Add("Name");
        viewBagInfo.IgnoreNames.Add("Password");

        @await Html.PartialAsync("_PagerControl", Model)
        @await Html.PartialAsync("_CardList", Model)
    }
}
@*#endif*@
