@*@BaseCode*@
@*This partial view can alternatively be used with the shared index view.*@
#if ACCOUNT_ON
@{
    @using SmartNQuick.AspMvc.Modules.Language
    @model SmartNQuick.AspMvc.Models.Business.Account.AppAccess

    var controller = ViewContext.RouteData.Values["controller"].ToString();
    var action = ViewContext.RouteData.Values["action"].ToString();
    Func<string, string> translate = Translator.TranslateIt;
    Func<string, string> translateFor = pn => translate($"{controller}.{pn}");

    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.OneItem.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.OneItem.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.OneItem.EnableJwtAuth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.OneItem.AccessFailedCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.OneItem.State)
        </td>
        <td>
            @Html.ActionLink(translateFor("Edit"), "Edit", new { id = Model.Id }) |
            @Html.ActionLink(translateFor("Details"), "Details", new { id = Model.Id }) |
            @Html.ActionLink(translateFor("Delete"), "Delete", new { id = Model.Id })
        </td>
    </tr>
}
#endif