@*@BaseCode*@
@{
    @using SmartNQuick.AspMvc.Models.Modules.Common
    @model SmartNQuick.AspMvc.Models.IdentityModel

    var viewBagWrapper = Model.ViewBagInfo;

    @if ((viewBagWrapper.CommandMode & CommandMode.CreateDetail) > 0)
    {
        <a type="button" href="@($"/{viewBagWrapper.Controller}/{nameof(CommandMode.CreateDetail)}/{Model.Id}")" class="btn btn-outline-secondary btn-sm" style="margin: 0px 2px 2px 0px;" title="@viewBagWrapper.TranslateFor("CreateDetail")"><i class="fa fa-plus" aria-hidden="true"></i></a>
    }
    @if ((viewBagWrapper.CommandMode & CommandMode.Edit) > 0)
    {
        <a type="button" href="@($"/{viewBagWrapper.Controller}/{nameof(CommandMode.Edit)}/{Model.Id}")" class="btn btn-outline-primary btn-sm" style="margin: 0px 2px 2px 0px;" title="@viewBagWrapper.TranslateFor("Edit")"><i class="fa fa-edit" aria-hidden="true"></i></a>
    }
    @if ((viewBagWrapper.CommandMode & CommandMode.Details) > 0)
    {
        <a type="button" href="@($"/{viewBagWrapper.Controller}/{nameof(CommandMode.Details)}/{Model.Id}")" class="btn btn-outline-dark btn-sm" style="margin: 0px 2px 2px 0px;" title="@viewBagWrapper.TranslateFor("Details")"><i class="fa fa-list" aria-hidden="true"></i></a>
    }
    @if ((viewBagWrapper.CommandMode & CommandMode.Delete) > 0)
    {
        <a type="button" href="@($"/{viewBagWrapper.Controller}/{nameof(CommandMode.Delete)}/{Model.Id}")" class="btn btn-outline-danger btn-sm" style="margin: 0px 2px 2px 0px;" title="@viewBagWrapper.TranslateFor("Delete")"><i class="fa fa-trash" aria-hidden="true"></i></a>
    }
}