@*@BaseCode*@
@{
    @using CommonBase.Extensions
    @using SmartNQuick.AspMvc.Models.Modules.View
    @using SmartNQuick.AspMvc.Modules.Handler
    @using SmartNQuick.AspMvc.Modules.Language
    @using SmartNQuick.AspMvc.Modules.Session
    @using SmartNQuick.AspMvc.Modules.View
    @model SmartNQuick.AspMvc.Models.IdentityModel

    var viewBagInfo = new ViewBagWrapper(ViewBag);
    var sessionInfo = new SessionWrapper(Context.Session);

    viewBagInfo.Translate = Translator.TranslateIt;
    viewBagInfo.Controller = ViewContext.RouteData.Values["controller"].ToString();
    viewBagInfo.Action = ViewContext.RouteData.Values["action"].ToString();

    ViewData["Title"] = viewBagInfo.Title;
    <h1>@viewBagInfo.Title</h1>

    @if (string.IsNullOrEmpty(ErrorHandler.LastViewError) == false)
    {
        <div class="alert alert-danger" role="alert">
            @ErrorHandler.GetLastViewErrorAndClear()
        </div>
    }
    else
    {
        @if ((viewBagInfo.CommandMode & SmartNQuick.AspMvc.Models.Modules.Common.CommandMode.Edit) > 0)
        {
            <p style="margin-top: 1em;">
                <a asp-action="Create" class="btn btn-outline-secondary">@viewBagInfo.TranslateFor("Create new...")</a>
            </p>
        }
        @if (Model.GetType().IsGenericTypeOf(typeof(CompositeModel<,,,,,>)))
        {
            var connectorProperty = Model.GetType().GetProperty("ConnectorModel");
            var connectorModel = connectorProperty?.GetValue(Model) as IdentityModel;
            var oneProperty = Model.GetType().GetProperty("OneModel");
            var oneModel = oneProperty?.GetValue(Model) as IdentityModel;
            var anotherProperty = Model.GetType().GetProperty("AnotherModel");
            var anotherModel = anotherProperty?.GetValue(Model)  as IdentityModel;

            if (connectorModel != null)
            {
                connectorModel.ViewBagInfo = viewBagInfo;
                @await Html.PartialAsync("_DisplayModel", connectorModel)
            }
            if (oneModel != null)
            {
                oneModel.ViewBagInfo = viewBagInfo;
                <h2>@viewBagInfo.TranslateFor("OneModel")</h2>
                @await Html.PartialAsync("_DisplayModel", oneModel)
            }
            if (anotherModel != null)
            {
                anotherModel.ViewBagInfo = viewBagInfo;
                <h2>@viewBagInfo.TranslateFor("AnotherModel")</h2>
                @await Html.PartialAsync("_DisplayModel", anotherModel)
            }
        }
        else if (Model.GetType().IsGenericTypeOf(typeof(CompositeModel<,,,,,>)))
        {
            var connectorProperty = Model.GetType().GetProperty("ConnectorModel");
            var connectorModel = connectorProperty?.GetValue(Model) as IdentityModel;
            var oneProperty = Model.GetType().GetProperty("OneModel");
            var oneModel = oneProperty?.GetValue(Model) as IdentityModel;
            var anotherProperty = Model.GetType().GetProperty("AnotherModel");
            var anotherModel = anotherProperty?.GetValue(Model) as IdentityModel;

            if (connectorModel != null)
            {
                viewBagInfo.ItemPrefix = "ConnectorModel";
                <h2>@viewBagInfo.TranslateFor("ConnectorModel")</h2>
                connectorModel.ViewBagInfo = viewBagInfo;
                @await Html.PartialAsync("_EditModel", connectorModel)
            }
            if (oneModel != null)
            {
                viewBagInfo.ItemPrefix = "OneModel";
                oneModel.ViewBagInfo = viewBagInfo;
                <h2>@viewBagInfo.TranslateFor("OneModel")</h2>
                @await Html.PartialAsync("_EditModel", oneModel)
            }
            if (anotherModel != null)
            {
                viewBagInfo.ItemPrefix = "AnotherModel";
                anotherModel.ViewBagInfo = viewBagInfo;
                <h2>@viewBagInfo.TranslateFor("AnotherModel")</h2>
                @await Html.PartialAsync("_EditModel", anotherModel)
            }
        }
    }
    <hr />
    @await Html.PartialAsync("_Back", new BackCmd() { BackText = viewBagInfo.TranslateFor("Back to List") })
}
