@*@BaseCode*@
@{
    @using SmartNQuick.AspMvc.Modules.Handler
    @using SmartNQuick.AspMvc.Modules.Language
    @using SmartNQuick.AspMvc.Modules.Session
    @using SmartNQuick.AspMvc.Modules.View
    @using SmartNQuick.AspMvc.Models.Modules.View
    @model DisplayViewModel

    var viewBagInfo = Model?.ViewBagInfo;
    var sessionInfo = new SessionWrapper(Context.Session);

    if (viewBagInfo == null)
    {
        viewBagInfo = new ViewBagWrapper(ViewBag);
    }
    viewBagInfo.Translate = Translator.TranslateIt;
    viewBagInfo.Controller = ViewContext.RouteData.Values["controller"].ToString();
    viewBagInfo.Action = ViewContext.RouteData.Values["action"].ToString();

    ViewData["Title"] = viewBagInfo.Title;
    <h2>@ViewData["Title"]</h2>

    <div class="d-flex bg-transparent">
        <div class="p-sm-2 mr-auto">
            <h4>@viewBagInfo.TranslateFor(viewBagInfo.Action)</h4>
        </div>
    </div>
    <hr />

    @if (string.IsNullOrEmpty(ErrorHandler.LastViewError) == false)
    {
        <div class="alert alert-danger" role="alert">
            @ErrorHandler.GetLastViewErrorAndClear()
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            @viewBagInfo.TranslateFor("Should the entry be deleted?")
        </div>
    }

    <form asp-action="@viewBagInfo.Action">
        @await Html.PartialAsync("_Display", Model)
        @await Html.PartialAsync("_SubmitBack", new SubmitBackCmd() { SubmitText = viewBagInfo.TranslateFor("Delete"), BackText = viewBagInfo.TranslateFor("Back to List"), SubmitCss = "btn btn-danger", FromSubmitToBack = true })
    </form>
}