@*@BaseCode*@
@{
    @using SmartNQuick.AspMvc.Modules.Handler
    @using SmartNQuick.AspMvc.Modules.Language
    @using SmartNQuick.AspMvc.Modules.Session
    @using SmartNQuick.AspMvc.Modules.View
    @using SmartNQuick.AspMvc.Models.Modules.View
    @model SmartNQuick.AspMvc.Models.MasterDetailModel

    var viewBagWrapper = new ViewBagWrapper(ViewBag);
    var sessionWrapper = new SessionWrapper(Context.Session);

    viewBagWrapper.Translate = Translator.TranslateIt;
    viewBagWrapper.Controller = ViewContext.RouteData.Values["controller"].ToString();
    viewBagWrapper.Action = ViewContext.RouteData.Values["action"].ToString();
    viewBagWrapper.ViewType = Model.GetType();

    Model.Master.ViewBagInfo = viewBagWrapper;
    Model.Detail.ViewBagInfo = viewBagWrapper;
    viewBagWrapper.HiddenNames.Add($"{Model.Master.GetType().Name}Id");
    viewBagWrapper.IgnoreNames.Add($"{Model.Master.GetType().Name}Id");

    ViewData["Title"] = viewBagWrapper.Title;
    <h2>@ViewData["Title"]</h2>

    <div class="d-flex bg-transparent">
        <div class="p-sm-2 mr-auto">
            <h4>@viewBagWrapper.TranslateFor(viewBagWrapper.Action)</h4>
        </div>
    </div>
    <hr />

    @await Html.PartialAsync("_DisplayModel", Model.Master)
    <hr />

    viewBagWrapper.ItemPrefix = nameof(Model.Detail);
    <form asp-action="@viewBagWrapper.Action" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @if (string.IsNullOrEmpty(ErrorHandler.LastViewError) == false)
        {
            <div class="alert alert-danger" role="alert">
                @ErrorHandler.GetLastViewErrorAndClear()
            </div>
        }
        else
        {
            <div class="alert alert-danger" role="alert">
                @viewBagWrapper.TranslateFor("Should the entry be deleted?")
            </div>
        }

        @await Html.PartialAsync("_Display", Model.Detail)
        <hr />
        @await Html.PartialAsync("_SubmitBack", new SubmitBackCmd() { SubmitText = viewBagWrapper.TranslateFor("Delete"), BackText = viewBagWrapper.TranslateFor("Back to List"), SubmitCss = "btn btn-danger", FromSubmitToBack = true })
    </form>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
