@*@BaseCode*@
@{
    @using SmartNQuick.AspMvc.Modules.Handler
    @using SmartNQuick.AspMvc.Modules.Language
    @using SmartNQuick.AspMvc.Modules.Session
    @using SmartNQuick.AspMvc.Modules.View
    @using SmartNQuick.AspMvc.Models.Modules.View
    @model SmartNQuick.AspMvc.Models.MasterDetailModel

    var viewBagInfo = new ViewBagWrapper(ViewBag);
    var sessionInfo = new SessionWrapper(Context.Session);

    viewBagInfo.Translate = Translator.TranslateIt;
    viewBagInfo.Controller = ViewContext.RouteData.Values["controller"].ToString();
    viewBagInfo.Action = ViewContext.RouteData.Values["action"].ToString();

    Model.Master.ViewBagInfo = viewBagInfo;
    Model.Detail.ViewBagInfo = viewBagInfo;
    viewBagInfo.HiddenNames.Add($"{Model.Master.GetType().Name}Id");
    viewBagInfo.IgnoreNames.Add($"{Model.Master.GetType().Name}Id");

    ViewData["Title"] = viewBagInfo.Title;
    <h2>@ViewData["Title"]</h2>
    <div class="d-flex bg-transparent">
        <div class="p-sm-2 mr-auto">
            <h4>@viewBagInfo.TranslateFor(viewBagInfo.Action)</h4>
        </div>
    </div>
    <hr />

    @await Html.PartialAsync("_DisplayModel", Model.Master)
    <hr />

    viewBagInfo.ItemPrefix = nameof(Model.Detail);
    <form asp-action="@viewBagInfo.Action" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @if (string.IsNullOrEmpty(ErrorHandler.LastViewError) == false)
        {
            <div class="alert alert-danger" role="alert">
                @ErrorHandler.GetLastViewErrorAndClear()
            </div>
        }
        else
        {
            <div class="alert alert-danger" role="alert">
                @viewBagInfo.TranslateFor("Should the entry be deleted?")
            </div>
        }

        @await Html.PartialAsync("_DisplayModel", Model.Detail)
        <hr />
        @await Html.PartialAsync("_SubmitBack", new SubmitBackCmd() { SubmitText = viewBagInfo.TranslateFor("Delete"), BackText = viewBagInfo.TranslateFor("Back to List"), SubmitCss = "btn btn-danger", FromSubmitToBack = true })
    </form>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
