@*@BaseCode*@
@{
    @using SmartNQuick.AspMvc.Modules.Handler
    @using SmartNQuick.AspMvc.Modules.Language
    @using SmartNQuick.AspMvc.Modules.Session
    @using SmartNQuick.AspMvc.Models.Modules.View
    @using SmartNQuick.AspMvc.Modules.View
    @model SmartNQuick.AspMvc.Models.VersionModel

    var viewBagWrapper = new ViewBagWrapper(ViewBag);
    var sessionWrapper = new SessionWrapper(Context.Session);

    viewBagWrapper.Translate = Translator.TranslateIt;
    viewBagWrapper.Controller = ViewContext.RouteData.Values["controller"].ToString();
    viewBagWrapper.Action = ViewContext.RouteData.Values["action"].ToString();

    Model.ViewBagInfo = viewBagWrapper;
    ViewData["Title"] = viewBagWrapper.Title;
    <h1>@ViewData["Title"]</h1>

    <div class="d-flex bg-transparent">
        <div class="p-sm-2 mr-auto">
            <h4>@viewBagWrapper.TranslateFor("Edit")</h4>
        </div>
    </div>
    <hr />

    @if (string.IsNullOrEmpty(ErrorHandler.LastViewError) == false)
    {
        <div class="alert alert-danger" role="alert">
            @ErrorHandler.GetLastViewErrorAndClear()
        </div>
    }
    var editViewModel = viewBagWrapper.CreateEditViewModel(Model);

    <form asp-action="Edit" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @foreach (var item in editViewModel.HiddenProperties)
        {
            if (item.Name.Equals(nameof(Model.Id)))
            {
                <input type="hidden" asp-for="Id" />
            }
            else if (item.Name.Equals(nameof(Model.RowVersion)))
            {
                <input type="hidden" asp-for="RowVersion" />
            }
            else
            {
                <input type="hidden" id="@item.Name" name="@item.Name" value="@item.GetValue(Model)?.ToString()" />
            }
        }
        @await Html.PartialAsync("_EditModel", Model)
        <hr />
        @await Html.PartialAsync("_SubmitBack", new SubmitBackCmd() { SubmitText = viewBagWrapper.TranslateFor("Save"), BackText = viewBagWrapper.TranslateFor("Back to List") })
    </form>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
