@*@BaseCode*@
@{
    @using CommonBase.Extensions
    @using SmartNQuick.AspMvc.Modules.ThirdPartyServices
    @using SmartNQuick.AspMvc.Modules.Language

    var controller = ViewContext.RouteData.Values["controller"].ToString();
    var action = ViewContext.RouteData.Values["action"].ToString();
    Func<string, string> translate = Translator.TranslateIt;
    Func<string, string> translateFor = pn => translate($"{controller}.{pn}");
    var title = translateFor("Contact");
    var pageKey = $"{controller}.{action}";
    var htmlItem = HtmlStoreService.GetPageContent(pageKey);

    ViewData["Title"] = title;
}

@if (htmlItem != null)
{
    @Html.Raw(htmlItem.Content)
}
else
{
    var imgSrc = HtmlStoreService.GetHtmlAttribute($"{pageKey}.img.src", "/img/contakt.jpg");

    <div class="card" style="margin-bottom: 1em; border: none;">
        @if (imgSrc.HasContent())
        {
            <img class="card-img-top" src="@imgSrc" alt="Item image">
        }
        <div class="card-body">
            <div class="bs-docs-section">
                <h1 id="contact">@translate("Contact information")</h1>
                <hr />
                <address>
                    <strong>HTL-Leonding</strong><br>
                    Limesstraße 12-14<br>
                    A-4060 Leonding<br>
                    <abbr title="@translateFor("Phonenumber")">Tel.</abbr> +43 732 67 33 68 – 0
                    <br />
                    <abbr title="@translateFor("Email-Adresse")">Email</abbr> <a href="mailto:office@htl-leonding.ac.at">office(at)htl-leonding.ac.at</a>
                    <br />
                    <abbr title="@translateFor("Schoolnumber")">Schulkennzahl:</abbr>410427<br>
                </address>
            </div>
        </div>
    </div>
}
